@charset "UTF-8";
/* import de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Comfortaa:wght@500&family=Dancing+Script&family=Indie+Flower&family=Lobster&family=Noto+Sans:ital@1&family=Patrick+Hand&family=Permanent+Marker&family=Roboto:wght@100&family=Special+Elite&display=swap");
/* estilos body */
body {
  background-color: black;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "main main" "section1 aside" "section1 aside" "section2 section2" "footer footer";
  grid-gap: 15px;
}

/* estilos navbar */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

header .navbar {
  background-color: #950101 !important;
}

header .navbar a {
  color: blanchedalmond !important;
}

header .navbar .navbar-brand {
  font-family: "Permanent Marker";
  font-size: 35px;
}

header .navbar .nav-link {
  font-family: "Alata", sans-serif;
  font-size: 20px;
}

/* estilos de texto principal */
main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #090930;
}

main p {
  color: blanchedalmond;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

/* estilos del artículo */
.section1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: section1;
  background-color: darkslategrey;
}

.section1 h3 {
  color: blanchedalmond;
  font-family: "Permanent Marker";
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}

.section1 p {
  color: blanchedalmond;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

/* estilos de publicidad */
aside {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: aside;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: darkred;
}

aside h3 {
  color: blanchedalmond;
  font-family: "Permanent Marker";
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}

aside article {
  color: lightblue;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

/* estilos del texto */
.section2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: section2;
  background-color: darkslategrey;
}

.section2 h3 {
  color: blanchedalmond;
  font-family: "Permanent Marker";
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}

.section2 p {
  color: blanchedalmond;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  margin: 50px;
  text-align: justify;
}

/* estilos footer */
footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0d0d1d;
}

footer h4 {
  font-family: "Permanent Marker";
  font-size: 27px;
  text-align: center;
  margin: 30px;
  color: blanchedalmond;
}

/* MEDIA QUERIES */
@media (max-width: 475px) {
  main p {
    font-size: 35px;
  }
}

@media (max-width: 432px) {
  main p {
    font-size: 30px;
  }
  footer h4 {
    font-size: 22px;
  }
}

@media (max-width: 395px) {
  .section1 h3 {
    font-size: 23px;
    margin-left: 10px;
  }
  .section1 p {
    font-size: 16px;
    margin: 10px;
  }
  aside h3 {
    font-size: 23px;
    margin-left: 10px;
    text-align: center;
  }
  aside article {
    font-size: 16px;
    margin: 10px;
  }
}

@media (max-width: 373px) {
  footer h4 {
    font-size: 18px;
  }
}

@media (max-width: 355px) {
  main p {
    font-size: 25px;
  }
  .section2 h3 {
    font-size: 25px;
    margin-left: 10px;
  }
  .section2 p {
    font-size: 15px;
    margin: 30px;
  }
}

@media (max-width: 327px) {
  footer h4 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=estilos.css.map */