/* import de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Comfortaa:wght@500&family=Dancing+Script&family=Indie+Flower&family=Lobster&family=Noto+Sans:ital@1&family=Patrick+Hand&family=Permanent+Marker&family=Roboto:wght@100&family=Special+Elite&display=swap');

// VARS
$rojoCentral:rgb(149, 1, 1);
$colorDos: blanchedalmond;
$fuenteTitulos: 'Permanent Marker';
$fuenteTextos: 'Alata', sans-serif;

/* estilos body */
body{
    background-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header header"
    "main main"
    "section1 aside"
    "section1 aside"
    "section2 section2"
    "footer footer";
    grid-gap:15px;
}

/* estilos navbar */
header{
    grid-area: header;

    .navbar{
    background-color: $rojoCentral !important;
        a{
            color: $colorDos !important;
        }
        .navbar-brand{
            font-family:$fuenteTitulos;
            font-size: 35px;
        }
        .nav-link{
            font-family: $fuenteTextos;
            font-size: 20px;
        }
    }
}

/* estilos de texto principal */
main{
grid-area: main;
background-color: rgb(9, 9, 48);

    p{
        color: $colorDos;
        font-family: 'Dancing Script', cursive;
        font-size: 40px;
        text-align: center;
        margin: 20px;
    }
}

/* estilos del artículo */
.section1{
    grid-area: section1;
    background-color: darkslategrey;
    h3{
        color: $colorDos;
        font-family: $fuenteTitulos;
        font-size: 30px;
        text-align: center;
        margin-left: 20px;
    }
    p{
        color: $colorDos;
        font-family: $fuenteTextos;
        font-size: 20px;
        margin: 20px;
        text-align: center;
    }
}

/* estilos de publicidad */ 
aside{
    grid-area: aside;
    height: 100%;
    align-content: center;
    background-color: darkred;
    h3{
        color: $colorDos;
        font-family: $fuenteTitulos;
        font-size: 30px;
        text-align: left;
        margin-left: 20px;
    }
    article{
        color:lightblue;
        font-family: $fuenteTextos;
        font-size: 20px;
        margin: 20px;
        text-align: center;
    }
}

/* estilos del texto */
.section2{
    grid-area: section2;
    background-color: darkslategrey;
    h3{
        color: $colorDos;
        font-family: $fuenteTitulos;
        font-size: 30px;
        text-align: center;
        margin-left: 20px;
    }
    p{
        color: $colorDos;
        font-family: $fuenteTextos;
        font-size: 20px;
        margin: 50px;
        text-align: justify;
    }
}

/* estilos footer */ 
footer{
grid-area: footer;
display: flex;
justify-content: center;
background-color: rgb(13, 13, 29);

    h4{
        font-family: $fuenteTitulos;
        font-size: 27px;
        text-align: center;
        margin: 30px;
        color: $colorDos;
    }
}

/* MEDIA QUERIES */
@media (max-width:475px){
    main{
        p{
            font-size: 35px; 
        }
    }
}

@media (max-width:432px){
    main{
        p{
            font-size: 30px; 
        }
    }

    footer{
        h4{
            font-size: 22px;
        }
    }
}

@media (max-width:395px){
    .section1{
        h3{
            font-size: 23px;
            margin-left: 10px;
        }
        p{
            font-size: 16px;
            margin: 10px;
        }
    }

    aside{
        h3{
            font-size: 23px;
            margin-left: 10px;
            text-align: center;
        }
        article{
            font-size: 16px;
            margin: 10px;
        }
    }
}

@media (max-width:373px){
    footer{
        h4{
            font-size: 18px;
        }
    }
}

@media (max-width:355px){
    main{
        p{
            font-size: 25px;
        }
    }

    .section2{
        h3{
            font-size: 25px;
            margin-left: 10px;
        }
        p{
            font-size: 15px;
            margin: 30px;
        }
    }
}

@media (max-width:327px){
    footer{
        h4{
            font-size: 16px;
        }
    }
}



